body{
    background-color: #dcdcdc;

}

/**** menu-banniere**/
.banner{
    top: 0;
    padding-top: 0;
    background-color: rgb(237, 236, 236);
    position: fixed;
    z-index: 1;
}
#menu-banniere ul{
    list-style: none;
    display: inline-block;
    margin-top: 30px;
}
#menu-banniere ul li{
    display: inline;
    padding: 10px;
}
#menu-banniere ul li a{
    color: rgb(155, 154, 154);
}


#quantite_panier{
    //border: 2px solid black;
    background-color: rgb(207, 141, 3);
    position: absolute;
    margin-top: 7px;
    margin-left: -23px;
    color: white;
    font-size: 20px;
    font-weight: bold;

}

/**** fin menu de la baniere**/

/**
* menu
**/

body, ul, li {font-size:14px; font-family:Arial, Helvetica, sans-serif;line-height:21px;text-align:left;}
.header__icon{visibility:hidden;}


#menu {list-style:none;margin:70px 0 0px 0;height:43px;padding:0px 20px 0px 20px;
    /* Rounded Corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    /* Background color and gradients */
    background: rgb(83, 43, 52));
    background: -moz-linear-gradient(top, #0272a7, #013953);  /*rgb(115, 60, 72)  rgb(83, 43, 52) next rgb(247, 160, 89)*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(115, 60, 72)), to(rgb(83, 43, 52)));
    
}

#menu li {float:left;display:block;text-align:center;position:relative;padding: 4px 50px 4px 50px;margin-right:30px;margin-top:7px;border:none;}
#menu li:hover {border: 1px solid #777777;  
    /* Background color and gradients */
    background: #F4F4F4;
    background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));
    
    /* Rounded corners */
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

#menu li a {font-family:Arial, Helvetica, sans-serif;font-size:14px; color: #EEEEEE;display:block;outline:0;text-decoration:none;text-shadow: 1px 1px 1px #000;}
#menu li:hover a {color:#161616;text-shadow: 1px 1px 1px #ffffff;}

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {margin:4px auto;float:left;position:absolute;left:-999em; /* Hides the drop down */text-align:left;padding:10px 5px 10px 5px;border:1px solid #777777;border-top:none;
    /* Gradient background */
    background:rgb(247, 160, 89);
    background: -moz-linear-gradient(top, white, rgb(245, 171, 108));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(rgb(245, 171, 108))); 

    /* Rounded Corners */
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
}

.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 700px;}

#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {left:-1px;top:auto;}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {display:inline;float: left;position: relative;margin-left: 5px;margin-right: 5px;}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}

#menu .menu_right {float:right;margin-right:0px;}
#menu li .align_right {
    /* Rounded Corners */
    -moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}
#menu li:hover .align_right {left:auto;right:-1px;top:auto;}
#menu p, #menu h2, #menu h3, #menu ul li {font-family:Arial, Helvetica, sans-serif;line-height:21px;font-size:12px;text-align:left;text-shadow: 1px 1px 1px #FFFFFF;}
#menu h2 {font-size:21px;font-weight:400;letter-spacing:-1px;margin:7px 0 14px 0;padding-bottom:14px;border-bottom:1px solid #666666;}
#menu h3 {font-size:14px;margin:7px 0 14px 0;padding-bottom:7px;border-bottom:1px solid #888888;}
#menu p {line-height:18px;margin:0 0 10px 0;}
#menu li:hover div a {font-size:12px;color:#015b86;}
#menu li:hover div a:hover {color:#029feb;}
.strong {font-weight:bold;}
.italic {font-style:italic;}
.imgshadow { /* Better style on light background */
    background:#FFFFFF;
    padding:4px;
    border:1px solid #777777;
    margin-top:5px;
    -moz-box-shadow:0px 0px 5px #666666;
    -webkit-box-shadow:0px 0px 5px #666666;
    box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */  width:auto; float:left; margin:5px 15px 5px 5px;}

#menu li .black_box {   background-color:#333333;   color: #eeeeee; text-shadow: 1px 1px 1px #000;  padding:4px 6px 4px 6px;
    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    /* Shadow */
    -webkit-box-shadow:inset 0 0 3px #000000;
    -moz-box-shadow:inset 0 0 3px #000000;
    box-shadow:inset 0 0 3px #000000;
}

#menu li ul {list-style:none;padding:0;margin:0 0 12px 0;}
#menu li ul li {font-size:12px; line-height:24px;position:relative; text-shadow: 1px 1px 1px #ffffff;padding:0;margin:0;float:none; text-align:left;width:130px;}
#menu li ul li:hover {background:none;border:none;padding:0;margin:0;}
#menu li .greybox li {background:#F4F4F4;border:1px solid #bbbbbb;margin:0px 0px 4px 0px;padding:4px 6px 4px 6px;width:116px;
    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover {background:#ffffff;border:1px solid #aaaaaa;padding:4px 6px 4px 6px;margin:0px 0px 4px 0px;}

#contenu_mode{visibility:hidden; display:none;}
#menu li:hover div h2 a { color:rgb(105, 105, 105); font-size:20px;display: inline;padding:10px;}
#menu li:hover div h2 a:hover{color:rgb(105, 105, 105); text-decoration: underline;}

/** Responsive **/
@media only screen and (max-width: 750px){
/*
    .header__icon{
        position: relative;
        display:block;
        float: left;
        width:35px;
        height:50px;
        cursor:pointer;
    }
    .header__icon  &:after{
        content:'';
        position:absolute;
        display:block;
        width:16px;
        height:0;
        box-shadow: 0 10px 0 1px red; 
    }
    #menu {margin:0px 0 0px 0;height:600px;position:absolute;}
    #menu li a{
        display:inline-block;
        height:40px;
    }
*/
#menu{display:none;}
}

/* fin menu */

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
#test{
    color:red; background: url(img/asterisk.png) 98% center no-repeat; /*centrer l image a gauche*/
}
#contenu_panier{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    color: #414141;
}

.btn-default, .btn-default:active, .btn-default:active{
    background-color: #532a32;
    color:white;
}
.btn-default:hover{
    background-color: ;
    color:#532a32;
}

.entete-page{
    color: #663333;
    margin-left: 50px;
}
.panneau_gauche{
    background-color: white;
    border:1px solid #663333;
}
.panneau_gauche li{
    list-style: none;
}
.panneau_gauche h5{
    margin-left: 20px;
}
.img_circle{
    border: 2px solid red;
    margin-left: 20px;
    border-radius:40px;
}
.erreur{
    color:red;
    font-size: 50px;
}

input:required{
    background: url(img/asterisk.png) 98% center no-repeat; /*centrer l image a gauche*/
    background-color: white;
}

/* gestion liste*/
.membre ol{
    counter-reset: membre;
}
.membre li{ 
    list-style-type: none;
    counter-increment: membre;
    margin-bottom: 10px;
}
.membre li:before{
    content: counter(membre);
    padding: 0 20px 6px;
    margin-right: 8px;
    vertical-align: top;
    background: #678;
    -moz-border-radius:60px;
    border-radius:60px;
    font-weight: bold;
    font-size: 0.8em;
    color: white;
}
/* fin liste*/


#footer{
    position: relative;
    border:1px solid #5492e0;
    //background: rgb(43, 117, 130);
    background-image: linear-gradient(rgb(43, 116, 129), rgb(22, 61, 68));
    color: white;
    /*margin: -10px;    */
}
#frame{
    border: 1px solid black;
    background-color: white;
    width: 80%;
    height: 100px;
}
#footer h1{
    color:white;
    padding-left: 5px;
    font-size: 24px;
}
#footer a{
    color:#d8d7d7;
}
#footer a:hover{
    color:white;
}
#footer img{
    width: 40px;
    height: 40px;
}
#footer li{
    list-style: none;
}
#footer ul{
    padding-left: 5px;
}